@font-face {
  font-family: 'Valentime';
  src: url('../Fonts/Valentime.otf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}
header {
    background: none;
    padding: 0;
  }
h1{

  font-family: 'Valentime', sans-serif;
  font-size: 120px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  color: rgb(113, 113, 181);
  margin: 10px;

  }
header nav ul li {
  display: inline;
  padding: 10px 10px;
  margin: 10px;
  }

header nav a {
  text-decoration: none;
  color: Black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: x-large;

  }
header nav {
    position: fixed;
    padding: 20px;
    position: relative;
    background-color: #d7e9ec
}

header nav a:hover{
  color: rgb(113, 113, 181);
}
body {
  font-family: 'Roboto', sans-serif;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  background: rgba(247, 247, 247, 0.9);
  max-width: 800px;
  max-height: 1000px;
  overflow: scroll;
  margin: 0 auto;
  padding: 15px 50px;
}

h2,
h3 {
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: normal;
  color: rgb(113, 113, 181);
}
h1{
  padding: 10px 0;
}
h2 {
  padding: 20px 0;
}
h3 {
  padding: 10px 0 15px;
}
p{
  font-size: 14px;
  line-height: 200%;
}
.date{
  font-weight: bolder;
  font-family: sans-serif;
}

footer {
  margin: 200px 0 0;
  background: white;
  padding: 20px 0;
  text-align: center;
  text-decoration: underline;
  color: rgb(113, 113, 181);
}

.hero-image {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}
.about {
  float: right;
  max-width: 220px;
  margin: 20px;
}
.learn-more a {
  background: rgb(113, 113, 181);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'roboto', sans-serif;
  font-weight: bolder;
  font-size: 15px;

}

.cloud {
  position: absolute;
  opacity: 1;
  width: 200px;
  animation: wind 15s forwards infinite linear;
}

@keyframes wind {
  from {
    transform: translateX(20px);
  }
  to {
    transform: translateX(1000px);
  }
}
