@font-face {
  font-family: 'Valentime';
  src: url('../Fonts/Valentime.otf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

header h1{
  font-family: 'Valentime', sans-serif;
  font-size: 120px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  color: white;
  width: 50%;
  margin: 0 auto;
  padding: 30px 40px;
  }
header nav ul li {
  display: inline;
  padding: 0 15px;
  }
body {
  font-family: 'Roboto', sans-serif;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  background: rgba(247, 247, 247, 0.9);
  max-width: 800px;
  max-height: 1000px;
  overflow: scroll;
  margin: 0 auto;
  padding: 15px 50px;
}

h2,
h3 {
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: normal;
  color: rgb(113, 113, 181);
}
h1{
  padding: 10px 0;
}
h2 {
  padding: 20px 0;
}
h3 {
  padding: 10px 0 15px;
}
p{
  font-size: 14px;
  line-height: 200%;
}

footer {
  background: white;
  padding: 20px 0;
  text-align: center;
  text-decoration: underline;
  color: rgb(113, 113, 181);
}

.hero-image {
  text-align: center;
  margin-bottom: 30px;
}
.learn-more a {
  background: rgb(113, 113, 181);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'roboto', sans-serif;
  font-weight: bolder;
  font-size: 15px;

}
